html{
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  margin: 0;
}
header{
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 50px;
  align-items: center;
  color: #F0FFFF;
  background-color: #101010;
  border-bottom: 1px;
  border-color: #F0FFFF;
  border-style: solid;
}
.video iframe{
  opacity:
}
.logo{
  padding-left: 20px;
}
.name{
  flex-grow: 0.1;
  flex-shrink: 2;
  display: flex;
  padding-left: 20px;
  padding-right: 40px;
  align-items: center;
  color: #FFF8DC;
  width: auto;
}
@media only screen and (max-width: 1200px){
  .name{
    display: none;
}
  .menu{
    padding-left: 40px;
  }
}
.namein{
  font-size: calc(1em + 1vmin);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.name span{
  opacity: 0.8;
  padding-left: 10px;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.menu{
  padding-right: 170px;
  display: flex;
}
.menu a{
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
}
.menu span{
  font-size: 1.1em;
  display: inline-block;
  padding: 15px;
  letter-spacing: 2px;
}
.menu a::after{
  content: "";
  background: white;
	mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.menu a:link{
  text-decoration: none;
  color: #F0FFFF;
}
.menu a:hover::after{
  height: calc(100% + 8px)
}
.menu a:visited{
  color: #F0FFFF;
}
.social{
  display: none;
  text-align: right;
}
.social i{
  padding: 0 7.5px 0 0;
  display: inline-block;
}
.showreel {
  height: 700px;
  display: flex;
  width: 100%;
  padding-top: 50px;
  background: url('../../resources/images/lampa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-around;
  border-bottom: 1px solid rgba(240, 255,	255, 0.5);
}
.video{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#portfolio{
  background: #000000;
  width: 100%;
  display: flex;
  height: auto;
  text-align: center;
  flex-direction: column;
}
#portfolio h1{
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 3em;
  color: #F0FFFF;
}
.portcont{
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.port{
  padding: 10px 10px 10px 10px;

}
.port h2{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #F0FFFF;
}
.port img{
  width: 100%;
  height: auto;
  border-radius: 5%;
  opacity: 0.5;
    filter: alpha(opacity=50);
}
.port img:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.about{
  display: flex;
  background: #000000;
  width: 100;
  height: auto;
}
.aboutcont{
  width: 100%
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.aboutcont h1{
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  align-items: center;
  color: #F0FFFF;
  font-size: 3em;
  text-align: center;
}
.aboutcont p{
  width: 70%;
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
  color: #F0FFFF;
  letter-spacing: 2px;
  margin: 0 auto;
}
.aboutcont h1{
}
